<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="WSLogSetting" type="WallaShops.Common.Logs.WSLogSettingSection, WallaShops.Common.Logs, Version=1.0.0.0, Culture=neutral" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="server=172.16.4.6;User Id=sa;Password=wsqlwsql; database=wbl_vcsDB;" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="server=devtest2008\Test;User Id=sa;Password=SQLSQL; database=wbl_vcsDB;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key ="DebugMode" value="true"/>
    <add key ="ExportPathCustomersXml" value="C:\\Exports\\ClubRefund\\ClubMemberRefundArchive"/>
    <!--<add key ="ExportPathCustomersXml" value="E:\temp\ClubMemberRefundArchive"/>-->
    <add key="NameSpace" value="http://www.demandware.com/xml/impex/customer/2006-10-31" />
    <add key="SFTPHostAddress" value="rzts3t4oloo26.westeurope.azurecontainer.io" />
    <add key="SFTPPort" value="22" />
    <add key="SFTPUserName" value="wallashops_sftp1" />
    <add key="SFTPPassword" value="Wallashops$ft9" />
    <add key="SFTPRemotePath" value="upload/Staging/Customers" />
    <!--<add key="SFTPRemotePath" value="upload/Prod/Customers" />-->
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <WSLogSetting>
    <LogHandlers>
      <LogHandler name="Save to DB Object Event Log table" type="WSObjectEventLogHandler" namespace="WallaShops.Common.Logs" assembly="WallaShops.Common.Logs">
        <Rules>
          <add name="DB Object Event Log only" type="ClassTypeName" key="" value="WSObjectEventLog"></add>
        </Rules>
        <Options>

        </Options>
      </LogHandler>
      <LogHandler name="logzio" type="WSNLogHandler" namespace="WallaShops.Common.Logs" assembly="WallaShops.Common.Logs">
        <Rules>
        </Rules>
        <Options>
          <add key="Token" value="yUQykgNadsDVBqksqszlsQQfntBFsrVq"></add>
          <add key="ListenerUrl" value="https://listener.logz.io:8071"></add>
        </Options>
      </LogHandler>
    </LogHandlers>
  </WSLogSetting>

</configuration>